body{
    background-color: #f6f0f1;
    padding: 2rem;
}
table{
    padding: 1rem;
    align-items: center;
}
th, td{
    text-align: center;
    padding: 1rem;
}
header{
    color: black;
    text-align: center;
    background-image:url(newheader.jpg);
    background-repeat: repeat;
    background-position: top;
    background-size:cover;
    padding-bottom: 10%;
    font-size: x-large;
}
h2, h3{
    text-align: center;
}
tr:first-child{
    color: black;
}
th{
}
.topnav {
    background-color: lightblue;
    overflow: hidden;
  }
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: black;
}
.contact{
    background-color: lightblue;
}