body{
    background-color: #f6f0f1;
    padding: 2rem;
}
table{
    padding: 1rem;
    align-items: center;
}
th, td{
    text-align: center;
    padding: 1rem;
}
header{
    color: #ddd;
    text-align: end;
    background-image:url(newheader.jpg);
    background-repeat: repeat;
    background-position: top;
    background-size:cover;
    padding-bottom: 30%;
}
h2, h3{
    text-align: center;
}
tr:first-child{
    color: black;
}
th{
}
.topnav {
    background-color: lightblue;
    overflow: hidden;
  }
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: black;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: lightblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: lavender;
  }
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }